* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: 'Lato', sans-serif;
}

.cat:hover {
	cursor: pointer;
	background-color: '#d3d3d3';
}

img:hover {
	cursor: pointer
}

img {
	max-height: 500px;
	max-width: 500px;
}

.name,
.count {
	max-width: 500px;
	font-size: 24px;
}

.count {
	margin: 10px;
}
